version: '3.7'
services:
  api:
    container_name: trab_final
    build: .
    networks:
      - docker_network
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - db

  db:
    container_name: banco
    networks:
      - docker_network
    image: 'postgres:13-alpine'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: 'test'
      POSTGRES_PASSWORD: 'test'
      POSTGRES_DB: 'test'

networks:
  docker_network: